body {
    font-family: Georgia; color: #444; 
}



ul li{
    margin-bottom: 10px;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
.container-fluid span:hover{
    color: rgb(232, 45, 222);
}
/* a:hover {
    background-color: rgb(249, 215, 120);
  } */
table, th, td {
    border:1px solid black;
  }

#inter { 
height: 550px;
   padding: 10px 80px; margin: 20px auto; background: #f5f5f5; border: solid #666; border-width: 8px 0 2px 0; 
}
.yui-gf { 
   margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; 
}

#hd { 
   margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc 
}
#hd h1 { 
    margin-top: 20px;
   font-size: 40px;  letter-spacing: 3px; 
}
h2 { 
    
   font-size: 152% 
}
h3, h4 { 
   font-size: 122%; 
}
h1, h2, h3, h4 { 
   color: #333; 
}
p { 
   font-size: 100%; line-height: 18px; padding-right: 3em; 
}
a { 
   color: #990000 
}
p.enlarge { 
   font-size: 144%; padding-right: 6.5em; line-height: 24px; 
}
p.enlarge span { 
   color: #000 
}
.last { 
   border-bottom: 0 
}
input[type="submit"] {
   cursor: all-scroll;
}

.container-fluid a{
   padding-left: 120px; 
}

.ok a{
padding-left: 30px;
}

.ok a:hover{
    color: rgb(116, 18, 215);
}

.right {
    width: 100%;
    height: 100%;
    background-color: #edd683;
    
    color: #110c0c;
    
    
}

.right h1 {
    font-size: 50px;
    padding-left: 25px;
    padding-top: 25px;
    color: rgb(199, 24, 24);
    padding-bottom: 25px;
}

.right table,
.right th,
.right td {
  border: 1px solid black;
}

.right thead .trs th {
  color: #a13edf;
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.right tbody tr td {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
}

.right ul li{
    list-style-type: square;
}